body{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;

}
#display6{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: lightblue;
  background-color:lightblue;
  padding:50px 80px;
  text-align: center;
  border-radius: 100%;
  border: solid 5px lightcyan;


}
#randomizer6{
  border: none;
  color: black;
  background-color: lightslategrey;
  height: 50px;
  width: 100px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#display20{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: lavender;
  background-color:lavender;
  padding:70px 80px;
  width: 85px;
  text-align: center;
  border-radius: 100%;
    border: solid 5px lavenderblush;


}
#randomizer20{
  border: none;
  color: black;
  background-color: lightslategrey;
  height: 50px;
  width: 100px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 100px;
  height: 20px;
  padding-top: 50px;
}

#randomizer20:hover {
  background-color: gainsboro;
  background-image: url(https://thumbs.gfycat.com/DampDenseGallinule-max-1mb.gif);
}

#randomizer6:hover {
  background-color: gainsboro;
  /* background-image: url(https://31.media.tumblr.com/61c4afefb7f0dd66857b08d9f61fc3df/tumblr_mt64qmNFD51r6q80fo1_500.gif); */
    background-image: url(https://thumbs.gfycat.com/DampDenseGallinule-max-1mb.gif);
}
